/* You're welcome to change any of this! */
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'Work Sans', sans-serif;
}
h1 {
    font-family: 'Montserrat', sans-serif;
}
h1 i{
    padding-left: 10px;
    padding-right: 10px;
    color: skyblue;
}
header, section {
    padding: 20px;
}
h2 {
    border-bottom: 5px skyblue solid;
}
section a{
    text-decoration: none;
    color: inherit;
}
section a:hover{
    color: skyblue;
}
p, li {
    line-height: 1.5em;
}
i {
    padding-right: 5px;
}

#inspiration {
    background-color: #F0F0F0;
    padding-top: 40px;
    padding-bottom: 40px;
}
